



<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="well well-lg">
        <%= link_to image_tag(photo.image.url(:thumb), class: 'media-object'), photo.image.url, target: '_blank' %><br> 
        <p>Photo by: <%= photo.user.name %></p>
        <p>Title: <%= photo.title %></p>
        <% if logged_in? && current_user.admin? %>
          <%= link_to 'Delete', photo_path(photo), class: 'btn btn-xs btn-danger', 
                                  method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %> 
      </div>	
    </div>
</div>    


