
<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy; <a href="http://www.sammydallal.com">Sammy Dallal's website</a>
			by <a href="http://www.sammydallal.com">Sammy Dallal</a>
			</small>
			<nav>
				<ul>
					<li></li>
				</ul>
			</nav>
		</footer>
	</div>			